<div class="homepage-listings-box">
  <div class="list-items">
    <h3>Featured Listings</h3>
    <h2><%= link_to "See all >", listings_path %></h2>
    <%= render partial: "search/vertical_listing_card" %>
  </div>
</div>
