<div class="homepage-listings-box">
  <div class="">
    <h3>Listings</h3>
    <h2><%= link_to "See all >", listings_path %></h2>
  </div>
  <%= render partial: "search/vertical_listing_card" %>
</div>
