<div class='row'>
  <div class='col-md-7'>
    <div class="container listing-cards">
      <%=render partial: "shared/vertical_listing_card" %>
    </div>
  </div>

  <div class="col-md-5">
    <div class="container map-side-long">
      <%=render partial: "javascripts/map_right_side_long" %>
    </div>
  </div>
</div>
