<div class="results">
  <% @available_listings.each do |listing| %>
    <ul>
      <li>Name: <%= listing.name %></li>
      <li>Description<%= listing.description %></li>
      <li>Accomodated: <%= listing.accomodates %></li>
      <li>House Rules: <%= listing.house_rules %></li>
    </ul>
  <% end %>
</div>
