-# =link_to "Become a Host", user_login_path
-# =link_to "Trips", user_trips_path
-# =link_to "Messages", user_message_center_page_path
-# =link_to 'Log Out', destroy_user_session_path, method: :delete
