.navbar-header
  =link_to image_tag("air_bnb_logo.png", :class => 'nav-logo'), root_path
  .navbar-user-types
    =render partial: "/shared/current_user_traveler"
  .navbar-user-bottom
      .navbar-bottom-links