<div class="navbar-search">
    <form action="/search" method="get">
      <div class="search_bar">
        <input name="city" placeholder="City..." type="text"></input>
        <input name="state" placeholder="State..." type="text"></input>
        <input name="zip_code" placeholder="Zip Code..." type="text"></input>
        <input name="check_in" placeholder="Check In..." type="text"></input>
        <input name="check_out" placeholder="Check Out..." type="text"></input>
        <input name="num_guests" placeholder="Number of Guests" type="text"></input>
        <input type="submit" value="Search">
      </div>
  </form>
</div>
