%h1 Experiences

.experiences-box
  -@experiences.each do |e|
    .experience-card
      .experience-image
        =link_to image_tag('/lib/assets/baby_penguin.jpg')
      .experience-details
        .experience-title
          =e.title
        .experience_price
          "$#{e.price}"
