%h1 Experiences

.container.experiences-box
  -@experiences.each do |e|
    .item
      .experience-card{:id => "experience-#{e.id}"}
        %ul.experience-image.slider
          -e.experience_images.each do |image|
            %a{href: experience_path(e)}
              %li.slide
                =image_tag(image.image, class: 'img-responsive')
      .experience-details
        %span.experience-title
          =link_to e.title, experience_path(e)
        %span.experience_price
          "$#{e.price}"
        .divider
          %hr

.container
  .sidebar
    Content
