%h1 Experience Show page

.experience-box
  .experience-title-box

  .experience-category-box

  .experience-what-box

  .experience-host-provides-box

  .experience-notes-box

  .experience-where-box

    .experience-map

  .host-block

  .host-contact

  .available-dates

  .experience-reviews

  .experience-extras
