.homepage-listings-box {
    border: solid 1px #000;
    display: flex;
    justify-content: space-between;
}

#a {
  width: 20%;
  border: solid 1px #000;
}

#map {
  float: right;
  width: 50%;
  height: 2000px;
  background-color: grey;
 }
