@import 'base';

.listings.cards.vertical_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  article {
    background-color: $light;
    border-radius: 4px;
    box-shadow: 0 14px 45px 0 rgba(0, 0, 0, 0.10), 0 10px 18px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-end;
    margin: 50px;
    padding-bottom: 20px;
    text-align: center;
    width: 270px;

    .portrait {
      display: flex;
      height: 230px;
      justify-content: center;
      padding: 10px;

      img {
        height: 100%;
      }
    }
  }
}

.category_title {
  text-align: center;
}
