@import 'base';
.navbar-main {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;

  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    padding: 5px;

    .nav-left {
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      .nav-item-left {

        form {
          display: inline-flex;

          input {
            margin: 0 5px;
          }
        }
      }
    }

    .nav-right {

      width: 40%;
      // display: flex;

      .navbar-user-types {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        width: 100%;

        a:hover {
          border-bottom: 2px solid black;
        }

        span {
          padding: 10px;
        }

        .dropdown {
          position: relative;
          display: inline-block;
        }

        .dropbtn {
          color: #000;
          font-size: 14px;
          border: none;
          cursor: pointer;
        }

        .dropbtn:hover, .dropbtn:focus {
          background-color: #fff;
        }

        .host-dropdown-content, .signin-dropdown-content {
          display: none;
          position: absolute;
          background-color: #fff;
          z-index: 1;
        }

        .dropdown-content a {
          color: black;
          text-decoration: none;
          display: block;
        }

        .dropdown-content a:hover {
          background-color: #f1f1f1;
        }

        .show {
          display:block;
        }

        .navbar-user-bottom {
          align-items: center;
          background-color: white;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 5px;

          .navbar-bottom-links {

            a {
              margin: 0 20px;
              text-transform: capitalize;
            }

            a:hover {
              color: $dark-hover;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .nav-logo {
    height: 40px;
    margin: 20px;
  }
}
