@import 'base';

.navbar-header {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  display: flex;
  padding: 5px;

  .navbar-user-types {
    white-space: nowrap;
      color: black;
      margin: 0 300px;
      padding-left: 10px;
      border-radius: 3px;
      // text-align: right;
    }
    a:hover {
      border-bottom: 2px solid black;
  }
}

.navbar-user-bottom {
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 5px;

  .navbar-bottom-links {
    a {
      margin: 0 20px;
      text-transform: capitalize;
    }
    a:hover {
      color: $dark-hover;
      font-weight: 500;
    }
  }
}

.nav-logo {
  height: 40px;
  margin: 20px;
}
