<div class="kaminari">
  <%= form_for :confirmations, :url => { :action => :create } do |f| %>
  Verification Code Sent to Your Phone: <%= f.text_field :verification_code %><br />
  <%= f.submit "Check Validation Code"%>
  <% end %>
</div>
