@import 'base';
@import 'skeleton';
@import 'components/*';
@import 'sections/*';
@import 'slick';
@import 'font-awesome';
@import "bootstrap-sprockets";
@import 'bootstrap';
@import "components/datepicker";

.navbar-header {
  width: 100%;
}

.fa-envelope-open {
  margin-top: 16px;
  margin-right: 3px;
  font-size: 1.6em;
}

.trip-submit {
  margin-left: 60px;
}

#new_trip {
  margin-left: 80px;
}

#new-user-submit{
  margin-left: 80px;
  margin-bottom: 100px; 
}
