@import 'base';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: capitalize;
}

p {
  font-size: 14px;
  text-transform: capitalize;
}

section {
  padding: 30px auto;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.hidden {
  color: $background;
}
